{% sw_extends '@Storefront/storefront/component/address/address-editor-modal-list.html.twig' %}

{% block component_address_address_editor_modal_list_address_action_billing %}
	{% if changeBilling %}
		<div class="col-auto">
			{% set formAjaxSubmitOptions = {
                                                                                        replaceSelectors: '.js-address-editor'
                                                                                    }%}

			{% block component_address_address_editor_modal_list_address_action_billing_form %}
				<form action="{{ path('frontend.account.addressbook') }}" class="js-close-address-editor js-existing-address-check" method="post" data-zip="{{ address.zipcode }}" data-form-ajax-submit="true" data-form-ajax-submit-options='{{ formAjaxSubmitOptions|json_encode }}'>

					{% block component_address_address_editor_modal_list_address_action_billing_form_csrf %}
						{{ parent() }}
					{% endblock %}

					{% block component_address_address_editor_modal_list_address_action_billing_form_hidden_inputs %}
						{{ parent() }}
					{% endblock %}

					{% block component_address_address_editor_modal_list_address_action_billing_form_button %}
						<button type="submit" title="{{ "account.addressesSetAsDefaultBillingAction"|trans|striptags }}" class="btn btn-block btn-primary d-none">
							{% block component_address_address_editor_modal_list_address_action_billing_form_button_text %}
								{{ "account.addressesSetAsDefaultBillingAction"|trans|sw_sanitize }}
							{% endblock %}
						</button>
					{% endblock %}

				</form>
			{% endblock %}
		</div>
	{% endif %}
{% endblock %}

{% block component_address_address_editor_modal_list_address_action_shipping %}
	{% if changeShipping %}
		<div class="col-auto">
			{% set formAjaxSubmitOptions = {
                                                                                        replaceSelectors: '.js-address-editor'
                                                                                    } %}
			{% block component_address_address_editor_modal_list_address_action_shipping_form %}
				<form action="{{ path('frontend.account.addressbook') }}" class="js-close-address-editor js-existing-address-check" method="post" {% if customerZip is defined %} data-zip="{{ address.zipcode }}" {% endif %} data-form-ajax-submit="true" data-form-ajax-submit-options='{{ formAjaxSubmitOptions|json_encode }}'>

					{% block component_address_address_editor_modal_list_address_action_shipping_form_csrf %}
						{{ parent() }}
					{% endblock %}

					{% block component_address_address_editor_modal_list_address_action_shipping_form_hidden_inputs %}
						{{ parent() }}
					{% endblock %}


					{% block component_address_address_editor_modal_list_address_action_shipping_form_button %}
						<button type="submit" title="{{ "account.addressesSetAsDefaultShippingAction"|trans|striptags }}" class="btn btn-block btn-primary {% if customerZip is defined %}d-none{% endif %}">
							{% block component_address_address_editor_modal_list_address_action_shipping_form_text %}
								{{ "account.addressesSetAsDefaultShippingAction"|trans|sw_sanitize }}
							{% endblock %}
						</button>
					{% endblock %}

				</form>
			{% endblock %}
		</div>
	{% endif %}
{% endblock %}
