{% sw_extends '@Storefront/storefront/component/address/address-editor-modal-list.html.twig' %}


{% block component_address_address_editor_modal_list_address_action_billing_form %}
	<form action="{{ path('frontend.account.addressbook') }}" class="js-close-address-editor js-existing-address-check" method="post" data-zip="{{ address.zipcode }}" data-form-ajax-submit="true" data-form-ajax-submit-options='{{ formAjaxSubmitOptions|json_encode }}'>

		{% block component_address_address_editor_modal_list_address_action_billing_form_csrf %}
			{{ parent() }}
		{% endblock %}

		{% block component_address_address_editor_modal_list_address_action_billing_form_hidden_inputs %}
			{{ parent() }}
		{% endblock %}

		{% block component_address_address_editor_modal_list_address_action_billing_form_button %}
			<button type="submit" title="{{ "account.addressesSetAsDefaultBillingAction"|trans|striptags }}" class="btn btn-block btn-light btn-sm d-none">
				{% block component_address_address_editor_modal_list_address_action_billing_form_button_text %}
					{{ "account.addressesSetAsDefaultBillingAction"|trans|sw_sanitize }}
				{% endblock %}
			</button>
		{% endblock %}

	</form>
{% endblock %}


{% block component_address_address_editor_modal_list_address_action_shipping_form %}
	<form action="{{ path('frontend.account.addressbook') }}" class="js-close-address-editor js-existing-address-check" method="post" data-zip="{{ address.zipcode }}" data-form-ajax-submit="true" data-form-ajax-submit-options='{{ formAjaxSubmitOptions|json_encode }}'>

		{% block component_address_address_editor_modal_list_address_action_shipping_form_csrf %}
			{{ parent() }}
		{% endblock %}

		{% block component_address_address_editor_modal_list_address_action_shipping_form_hidden_inputs %}
			{{ parent() }}
		{% endblock %}

		{% block component_address_address_editor_modal_list_address_action_shipping_form_button %}
			<button type="submit" title="{{ "account.addressesSetAsDefaultShippingAction"|trans|striptags }}" class="btn btn-block btn-light btn-sm d-none">
				{% block component_address_address_editor_modal_list_address_action_shipping_form_text %}
					{{ "account.addressesSetAsDefaultShippingAction"|trans|sw_sanitize }}
				{% endblock %}
			</button>
		{% endblock %}

	</form>
{% endblock %}
