{% sw_extends '@Storefront/storefront/page/checkout/address/index.html.twig' %}

{% block page_checkout_address %}
	{% block page_checkout_address_delivery_alerts %}
		<div id="js-zip-no-zip" class="alert alert-kerkow {% if page.extensions.postalcode is empty %}d-block{% else %}d-none{% endif %}" role="alert">
			{{"kerkow.noValidZipYet"|trans}}
			<div class="check-alternative-address" data-check-alternative-zip="true">
				<a href="#" class="js_check_alternative_zip">
					{{"kerkow.checkZip"|trans}}
				</a>
			</div>
		</div>
		<div id="js-zip-invalid" class="alert alert-warning {% if page.extensions.postalcode is not empty and not page.extensions.postalcode_valid%}d-block{% else %}d-none{% endif %}" role="alert">
			{{"kerkow.canNotDliver"|trans}}
			<div class="check-alternative-address" data-check-alternative-zip="true">
				<a href="#" class="js_check_alternative_zip">
					{{"kerkow.checkAlternativeAdress"|trans}}
				</a>
			</div>
		</div>
	{% endblock %}
	{{ parent() }}
{% endblock %}

{% block base_footer %}
	{{ parent() }}
	{% sw_include '@KerkowZipShop/storefront/custom/modal.html.twig' with {"openOnLoad": false} %}
{% endblock %}
