{% sw_extends '@Storefront/storefront/page/checkout/address/register.html.twig' %}


{% block component_account_register_personal_account_fields %}
	{% block page_checkout_register_personal_guest %}
		<div class="custom-control custom-checkbox register-guest-control">
			{% block page_checkout_register_personal_guest_input %}
				<input type="hidden" class="custom-control-input" name="guest" value="0" id="personalGuest" {% if data.get('guest') %} checked="checked" {% endif %}>
			{% endblock %}

			{% block page_checkout_register_personal_guest_label %}
				<label class="custom-control-label" for="personalGuest">
					{{ "checkout.registerGuestmodeLabel"|trans|sw_sanitize }}
				</label>
			{% endblock %}
		</div>
	{% endblock %}
	<div class="form-row">
		<div class="form-group col-12">
			{{ formGroupMail }}
		</div>
		<div class="form-group col-12">
			{% if shopware.config.core.loginRegistration.requireEmailConfirmation %}
				{{ formGroupMailConfirmation }}
			{% elseif not shopware.config.core.loginRegistration.requirePasswordConfirmation %}
				{{ formGroupPassword }}
			{% endif %}
		</div>
		<div class="form-group col-12">
			{% if shopware.config.core.loginRegistration.requireEmailConfirmation or shopware.config.core.loginRegistration.requirePasswordConfirmation %}
				{{ formGroupPassword }}
			{% endif %}
		</div>
		<div class="form-group col-12">
			{% if shopware.config.core.loginRegistration.requirePasswordConfirmation %}
				{{ formGroupPasswordConfirmation }}
			{% endif %}
		</div>
	</div>

{% endblock %}

{% block component_account_register_form_action %}
	{{ parent() }}
{% endblock %}
