{% sw_extends '@Storefront/storefront/layout/footer/footer.html.twig' %}
{% block layout_footer_inner_container %}
	{% block layout_footer_navigation %}
		<div id="footerColumns" class="footer-columns">
			<div class="d-flex row">
				{% block layout_footer_navigation_columns %}
					<div class="col-6 col-lg-4 footer-column">
						<span class="footer-column-headline d-none d-sm-block">
							{{ "kerkow.footer.headlineQuickStart" |trans}}
						</span>
						<ul class="list-unstyled">
							{% for root in page.footer.navigation.tree %}
								{% block layout_footer_navigation_column %}
									{% block layout_footer_navigation_information_headline %}
										<li class="footer-column-link">
											{% block layout_footer_navigation_information_link %}
												<a class="footer-link" href="{% if externalLink %}{{ externalLink }}{% else %}{{ seoUrl('frontend.navigation.page', { navigationId: root.category.id }) }}{% endif %}" title="{{ root.category.translated.name }}">
													{{ root.category.translated.name }}
												</a>
											{% endblock %}

										</li>
									{% endblock %}


								{% endblock %}
							{% endfor %}
							<li class="footer-column-link">
								<a class="footer-link" href="/Hof-Handwerk/" title="Hof und Handwerk">
									Hof & Handwerk
								</a>
							</li>
							<li class="footer-column-link">
								<a class="footer-link" href="/Laeden-Verkauf/" title="Läden und Verkauf">
									Läden & Verkauf
								</a>
							</li>
							<li class="footer-column-link">
								<a class="footer-link" href="/Jobs/" title="Jobs">
									Jobs
								</a>
							</li>
							<li class="footer-column-link">
								<a class="footer-link" href="/Versand/" title="Jobs">
									Versand
								</a>
							</li>
							<li class="footer-column-link">
								<a class="footer-link" target="_blank" href="http://spacedout.gut-kerkow.de/" title="Spaced Out">
									Spaced Out
								</a>
							</li>
						</ul>
					</div>
				{% endblock %}

				{% block layout_footer_navigation_social %}

					<div class="col-6 col-lg-4 footer-column footer-column-social">
						<div class="d-flex align-items-start flex-column">
							<div class="mb-auto">
								<span class="footer-column-headline d-none d-sm-block">
									{{ "kerkow.footer.headlineSocial" |trans}}
								</span>
								<ul class="list-unstyled">
									<li class="footer-column-link">
										<a href="https://www.facebook.com/gutkerkow/" target="_blank" title='{{ "kerkow.social.onFacebook" |trans }}'>
											<span class="social-icon">
												{% block layout_footer_navigation_social_facebook %}
													{% sw_include '@kerkow/storefront/custom/icons/facebook.html.twig' %}
												{% endblock %}
											</span>
											<span>
												Facebook
											</span>
										</a>
									</li>
									<li class="footer-column-link">
										<a href="https://www.instagram.com/gutkerkow/" target="_blank" title='{{ "kerkow.social.onInstagram" |trans }}'>
											<span class="social-icon">
												{% block layout_footer_navigation_social_instagram %}
													{% sw_include '@kerkow/storefront/custom/icons/instagram.html.twig' %}
												{% endblock %}
											</span>
											<span>
												Instagram
											</span>
										</a>
									</li>
								</ul>
							</div>
							<div class="d-block d-lg-none">
								{% block layout_footer_service_menu_content %}
									<ul class="footer-service-legal-list list-unstyled">
										{% block layout_footer_service_menu_item %}
											<li class="footer-column-link">
												<a class="footer-service-legal-link" href="/Impressum/" title="Impressum">
													Impressum
												</a>
											</li>
											<li class="footer-column-link">
												<a class="footer-service-legal-link" href="/Datenschutz/" title="Datenschutz">
													Datenschutz
												</a>
											</li>
											<li class="footer-column-link">
												<a class="footer-service-legal-link" href="/AGB/" title="AGB">
													AGB
												</a>
											</li>
											<li class="footer-column-link">
												<a class="footer-service-legal-link" href="/Widerrufsrecht/" title="Widerrufsrecht">
													Widerrufsrecht
												</a>
											</li>
										{% endblock %}
									</ul>
								{% endblock %}
							</div>
						</div>

					</div>

				{% endblock %}

				{% block layout_footer_navigation_contact %}
					<div class="footer-column col-12 col-lg-4">
						<span class="footer-column-headline">
							{{ "kerkow.footer.headlineContact" |trans}}
						</span>
						<div class="footer-column-address">
							<p class="address-component">
								{{ "kerkow.company.name" |trans}}
							</p>
							<p class="address-component">
								{{ "kerkow.company.street" |trans}}
							</p>
							<p class="address-component">
								{{ "kerkow.company.zipCity" |trans}}
							</p>
							<p class="address-component-gap">
								{{ "kerkow.company.phone" |trans |raw}}
							</p>
							<p class="address-component">
								{{ "kerkow.company.fax" |trans}}
							</p>
							<p class="address-component">
								{{ "kerkow.company.mail" |trans |raw}}
							</p>
							<p class="address-component">
								<a href="/Kontakt/" class="link" title="{{ 'kerkow.contactForm' |trans |raw}}">
									{{ "kerkow.contactForm" |trans |raw}}
								</a>
							</p>
						</div>
						<div class="footer-column-seals">
							<span class="seals-icon">
								{% block layout_footer_navigation_contact_bio %}
									<img data-src="{{ asset('bundles/kerkow/img/eu-bio.png') }}" class="lazyload">
								{% endblock %}
							</span>
							<span class="seals-icon">
								{% block layout_footer_navigation_contact_fair %}
									<img data-src="{{ asset('bundles/kerkow/img/fair-regional.png') }}" class="lazyload">
								{% endblock %}
							</span>
							<a href="https://www.schorfheide-chorin-biosphaerenreservat.de" title="Biosphäreservat Schorfheide Chorin" target="_blank">
								<span class="seals-icon">
									{% block layout_footer_navigation_contact_schorfheide %}
										<img data-src="{{ asset('bundles/kerkow/img/schorfheide-chorin.png') }}" class="lazyload">
									{% endblock %}
								</span>
							</a>
							<span class="seals-icon">
								{% block layout_footer_navigation_contact_naturland %}
									<img data-src="{{ asset('bundles/kerkow/img/naturland.png') }}" class="lazyload">
								{% endblock %}
							</span>
						</div>
					</div>

				{% endblock %}


			</div>
			{% block layout_footer_vat %}

			{% endblock %}

		</div>
	{% endblock %}

	{% block layout_footer_payment_shipping_logos %}
	{% endblock %}
	{% block footer_zip_modal %}
		{% if customerZip is defined %}
			{{ parent() }}
		{% endif %}
	{% endblock %}

{% endblock %}
