{% sw_extends '@Storefront/storefront/layout/footer/footer.html.twig' %}
{% block layout_footer_inner_container %}
	{% block layout_footer_inner_minimal %}
		<footer class="footer-checkout">
			<div class="container">
				<div class="footer-content d-sm-flex justify-content-between">
					<div class="footer-back-to-shop">
						<div class="flex-row">
							<div class="col-12 center">
								<a href="{{ path('frontend.home.page') }}">
									{{ "kerkow.backToShop"|trans }}
								</a>

							</div>
						</div>
					</div>
					<div class="footer-legal">
						<div class="flex-row d-sm-flex justify-content-between">
							<div class="col-xs-12 center">
								{{ "kerkow.footerPrivacy"|trans({'%url%': path('frontend.cms.page',{ id: shopware.config.core.basicInformation.privacyPage })})|raw }}
							</div>
							<div class="col-xs-12 center">
								{{ "kerkow.footerTos"|trans({'%url%': path('frontend.cms.page',{ id: shopware.config.core.basicInformation.tosPage })})|raw }}
							</div>
							<div class="col-xs-12 center">
								{{ "kerkow.footerImprint"|trans({'%url%': path('frontend.cms.page',{ id: shopware.config.core.basicInformation.imprintPage })})|raw }}
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
	{% endblock %}
{% endblock %}
