<sw-page class="swag-bundle-detail">
    <template slot="smart-bar-header">
        {% block idowapro_feed_generator_logs_detail_smart_bar_header %}
        <h2>{{ $tc('product-feed.logs.detail.title') }}</h2>
        {% endblock %}
    </template>
    <template slot="smart-bar-actions">
        {% block idowapro_feed_generator_logs_detail_smart_bar_actions %}
        <sw-button :routerLink="{ name: 'product.feed.list' }">
            {{ $t('product-feed.logs.detail.back') }}
        </sw-button>
        {% endblock %}
    </template>
    <template slot="content">

        <!-- General -->
        {% block idowapro_feed_generator_logs_detail_content %}
        <sw-card-view>
            <div class="general_card">
                <sw-card :isLoading="isLoading" v-if="this.log" :large="true"
                         :title="$t('product-feed.logs.detail.titleGeneral')"
                >
                    <sw-container slot="grid" rows="auto auto">
                        <sw-card-section divider="bottom">
                            <sw-container columns="repeat(auto-fit, minmax(250px, 1fr)" gap="30px 30px">
                                {% block idowapro_feed_generator_logs_detail_general_container_content %}
                                <sw-description-list>
                                    {% block idowapro_feed_generator_logs_detail_general_description_block_left %}
                                    <div class="description_list_left">
                                        <dt>{{ $tc('product-feed.logs.detail.name') }}</dt>
                                        <dd class="log_name">{{ log.name }}</dd>
                                        <div v-if="log.fileName && log.fileType">
                                            <dt>{{ $tc('product-feed.logs.detail.file') }}</dt>
                                            <dd><a :href="'./feeds/' + logfile" class="log_file">{{ logfile }}</a></dd>
                                        </div>
                                        <dt>{{ $tc('product-feed.logs.detail.status') }}</dt>
                                        <dd class="log_status">{{ feedstatus }}</dd>
                                        <dt>{{ $tc('product-feed.logs.detail.message') }}</dt>
                                        <dd class="log_message">{{ $tc(log.message) }}</dd>
                                    </div>
                                </sw-description-list>
                                {% endblock %}
                                {% block idowapro_feed_generator_logs_detail_general_description_block_right %}
                                <div class="description_list_right">
                                    <sw-description-list>
                                        <dt>{{ $tc('product-feed.logs.detail.createdAt') }}</dt>
                                        <dd class="log_creation_timestamp">{{ createdAtTimestampFormatted }}</dd>
                                        <dt>{{ $tc('product-feed.logs.detail.creationMode') }}</dt>
                                        <dd class="log_creation_mode">{{ creationMode }}</dd>
                                        <div v-if="log.stackTrace">
                                            <dt>{{ $tc('product-feed.logs.detail.stackTrace') }}</dt>
                                            <sw-code-editor
                                                :value="log.stackTrace"
                                            ></sw-code-editor>
                                        </div>
                                    </sw-description-list>
                                </div>
                                {% endblock %}
                                {% endblock %}
                            </sw-container>
                        </sw-card-section>
                    </sw-container>
                </sw-card>
            </div>

            <!-- Delivery -->
            {% block idowapro_feed_generator_logs_detail_general_delivery_card %}
            <div class="delivery_card">
                <sw-card :isLoading="isLoading" v-if="this.log" :large="true"
                         :title="$t('product-feed.logs.detail.titleDelivery')"
                         class="delivery_card"
                >

                    <sw-container slot="grid" rows="auto auto">
                        <sw-card-section divider="bottom">
                            <sw-container columns="repeat(auto-fit, minmax(250px, 1fr)" gap="30px 30px">
                                {% block idowapro_feed_generator_logs_detail_delivery_description_list_left %}
                                <sw-description-list>
                                    <div class="description_list_left">
                                        <dt>{{ $tc('product-feed.logs.detail.deliveryState') }}</dt>
                                        <dd class="log_delivery_state">
                                            {{ $tc(productfeed.formatDeliveryState(log.deliveryState)) }}
                                        </dd>
                                        <div v-if="log.deliveryState === 'enabled'">
                                            <dt>{{ $tc('product-feed.logs.detail.deliveryUrl') }}</dt>
                                            <dd>{{ log.hostUrl }}</dd>
                                        </div>
                                    </div>
                                </sw-description-list>
                                {% endblock %}
                                {% block idowapro_feed_generator_logs_detail_delivery_description_list_right %}
                                <div class="description_list_right">
                                    <sw-description-list>
                                        <div v-if="log.deliveryState === 'enabled'">
                                            <dt>{{ $tc('product-feed.logs.detail.deliveryUsername') }}</dt>
                                            <dd>{{ log.hostUsername }}</dd>
                                            <dt>{{ $tc('product-feed.logs.detail.deliveryDirectory') }}</dt>
                                            <dd>{{ log.hostDirectory }}</dd>
                                        </div>
                                    </sw-description-list>
                                </div>
                                {% endblock %}
                            </sw-container>
                        </sw-card-section>
                    </sw-container>
                </sw-card>
            </div>
            {% endblock %}
        </sw-card-view>
        {% endblock %}
    </template>
</sw-page>
