{% sw_extends '@Storefront/storefront/component/account/register.html.twig' %}
{% block component_account_register %}
	{% block component_account_register_add_zip_check %}
		{{ parent() }}
	{% endblock %}
	<div class="card register-card">
		<div class="card-body">
			{% block component_account_register_header %}
				{% if cardTitle %}
					<div class="card-title">
						{{ cardTitle }}
					</div>
					<a href="#registerCollapse" class="login-collapse-toggle" data-toggle="collapse" aria-expanded="false">
						<button class="btn btn-secondary btn-checkout js-register-collapse">
							{{ "account.orRegisterLink"|trans|sw_sanitize }}
						</button>
					</a>
				{% endif %}
			{% endblock %}

			{% block component_account_register_form %}
				<div class="collapse" id="registerCollapse">
					<form action="{{ path('frontend.account.register.save') }}" class="register-form" method="post" data-form-csrf-handler="true" data-form-validation="true">

						{% block component_account_register_form_csrf %}
							{{ parent() }}
						{% endblock %}

						{% block component_account_register_redirect %}
							{{ parent() }}
						{% endblock %}

						{% block component_account_register_form_action %}
							{{ parent() }}
						{% endblock %}

						{% block component_account_register_personal %}
							{{ parent() }}
						{% endblock %}

						{% block component_account_register_address %}
							{{ parent() }}
						{% endblock %}

						{% block component_account_register_captcha %}
							{{ parent() }}
						{% endblock %}

						{% block component_account_register_newsletter %}
							<div class="custom-control custom-checkbox register-newsletter">
								{% block component_account_register_newsletter_input %}
									<input type="checkbox" class="custom-control-input" name="newsletter" value="1" id="newsletter" {% if data.get('newsletter') %} checked="checked" {% endif %}>
								{% endblock %}

								{% block component_account_register_newsletter_label %}
									<label class="custom-control-label no-validation" for="newsletter">
										{{ "account.registerNewsletter"|trans|sw_sanitize }}
									</label>
								{% endblock %}
							</div>
						{% endblock %}

						{% block component_account_register_privacy %}
							{{ parent() }}
						{% endblock %}

						{% block component_account_register_required_fields %}
							{{ parent() }}
						{% endblock %}

						{% block component_address_form_honeypot %}
							<div data-super-address="true">
								<input type="text" name="super_address" id="super_address" class="js_gimme_junk">
							</div>
						{% endblock %}

						{% block component_account_register_submit %}
							{{ parent() }}
						{% endblock %}
					</form>
				</div>

			{% endblock %}
		</div>
	</div>
	{% block component_account_register_add_zip_check_end %}
		{{ parent() }}
	{% endblock %}
{% endblock %}
