{% sw_extends '@Storefront/storefront/page/checkout/confirm/confirm-address.html.twig' %}


{% block page_checkout_confirm_address_inner %}
	{% set billingAddress = context.customer.activeBillingAddress %}
	{% set shippingAddress = context.customer.activeShippingAddress %}

	{% block page_checkout_confirm_address %}
		<div class="js-confirm-overview-addresses">
			{% block page_checkout_confirm_address_billing %}
				<div class="confirm-billing-address">
					<div class="card checkout-card">
						<div class="card-body">
							{% block page_checkout_confirm_address_billing_title %}
								<div class="d-flex">
									<div class="card-title">
										<span>
											{{ "checkout.billingAddressHeader"|trans|sw_sanitize }}
										</span>
									</div>
									{% block page_checkout_confirm_address_billing_actions %}
										{% set addressEditorOptions = {
                                        changeBilling: true,
                                        addressId: billingAddress.id,
                                        csrfToken: sw_csrf("frontend.account.addressbook", {"mode": "token"})
                                    } %}
										<div class="edit-card">
											{% block  page_checkout_confirm_address_billing_actions_link %}
												<a href="{{ path('frontend.account.address.edit.page', {'addressId': billingAddress.id}) }}" title="{{ "account.overviewChangeBilling"|trans|striptags }}" data-address-editor="true" data-address-editor-options='{{ addressEditorOptions|json_encode }}'>
													<span class="edit-icon">
														{% sw_include '@kerkow/storefront/custom/icons/edit-icon.html.twig' %}
													</span>
												</a>
											{% endblock %}
										</div>
									</div>
								{% endblock %}
							{% endblock %}

							{% block page_checkout_confirm_address_billing_data %}
								<div class="confirm-address-billing">
									{% sw_include '@Storefront/storefront/component/address/address.html.twig' with {
                                        'address': billingAddress
                                    } %}
								</div>
							{% endblock %}

						</div>
					</div>
				</div>
			{% endblock %}

			{% block page_checkout_confirm_address_shipping %}
				<div class="confirm-shipping-address">
					<div class="card checkout-card">
						<div class="card-body">
							{% block page_checkout_confirm_address_shipping_title %}
								<div class="d-flex">
									<div class="card-title">
										{{ "checkout.shippingAddressHeader"|trans|sw_sanitize }}
									</div>
									{% block page_checkout_confirm_address_shipping_actions %}
										<div class="card-actions">
											{% set addressEditorOptions = {
                                        changeShipping: true,
                                        addressId: shippingAddress.id,
                                        csrfToken: sw_csrf("frontend.account.addressbook", {"mode": "token"})
                                    } %}
										</div>
										<div class="edit-card">
											{% block  page_checkout_confirm_address_shipping_actions_link %}
												<a href="{{ path('frontend.account.address.edit.page', {'addressId': shippingAddress.id}) }}" title="{{ "account.overviewChangeShipping"|trans|striptags }}" data-address-editor="true" data-address-editor-options='{{ addressEditorOptions|json_encode }}'>
													<span class="edit-icon">
														{% sw_include '@kerkow/storefront/custom/icons/edit-icon.html.twig' %}
													</span>
												</a>
											{% endblock %}
										</div>
									</div>
								{% endblock %}
							{% endblock %}

							{% block page_checkout_confirm_address_shipping_data %}
								<div class="confirm-address-shipping">
									{% if billingAddress.id is same as(shippingAddress.id) %}
										{% block page_checkout_confirm_address_shipping_data_equal %}
											<p>
												{{ "checkout.addressEqualText"|trans|sw_sanitize }}
											</p>
										{% endblock %}
									{% else %}
										{% sw_include '@Storefront/storefront/component/address/address.html.twig' with {
                                            'address': shippingAddress
                                        } %}
									{% endif %}
								</div>
							{% endblock %}

						</div>
					</div>
				</div>
			{% endblock %}
		</div>
	{% endblock %}
{% endblock %}
