{% sw_extends '@Storefront/storefront/page/checkout/confirm/confirm-shipping.html.twig' %}
{% block page_checkout_confirm_shipping_inner %}
	<div class="card checkout-card" {% if dataChangeDeliveryDate %} data-change-delivery-date="true" {% endif %} data-method="{{ context.shippingMethod.name }}">
		<div class="card-body">
			{% set shippingMethodInvalid = true %}

			{% for shipping in page.shippingMethods %}
				{% if shipping.id is same as(context.shippingMethod.id) %}
					{% set shippingMethodInvalid = false %}
				{% endif %}
			{% endfor %}

			{% block page_checkout_confirm_shipping_title %}
				<div class="card-title">
					{{ "checkout.confirmShippingMethod"|trans|sw_sanitize }}
				</div>
			{% endblock %}

			{% block page_checkout_confirm_shipping_current %}
				<div class="confirm-shipping-options">
					<div class="confirm-shipping-image align-self-center">
						{% sw_include '@kerkow/storefront/page/checkout/confirm/change-shipping.html.twig' %}
					</div>
					<div class="confirm-shipping-delivery-date">
						{% block page_checkout_confirm_shipping_current_text %}
							{% block page_product_delivery_date %}
								{% if page.extensions["customDeliveryDate"] %}
									{% set date = page.extensions["customDeliveryDate"] %}
									{% if context.shippingMethod.name == "Angel" %}
										{% set slotString = 'kerkow.deliverySlot.'~page.extensions["customDeliverySlot"] %}
									{% endif %}
								{% else %}
									{% set date = deliveryInfos.date %}
									{% if context.shippingMethod.name == "Angel" %}
										{% set slotString = 'kerkow.deliverySlot.18to20' %}
									{% endif %}
								{% endif %}
								{% set dayString =  'general.day.'~date|date("D") %}
								{% set day =  dayString|trans %}
								{% set monthString =  'general.month.'~date|date("M") %}
								{% set month =  monthString|trans %}
								{% if date|date("m/d/Y") == ("now"|date_modify("+1 day")|date("m/d/Y")) %}
									<div class="product-detail-delivery-container">
										<p class="delivery-headline">
											{{ "kerkow.deliveryHeadline"|trans|raw }}
										</p>
										<span class="product-detail-deliver-tomorrow product-detail-deliver-date">
											{{ "kerkow.actualDeliverTomorrow"|trans|raw }}
											{{ slotString|trans|raw }}
										</span>
									</div>
								{% else %}
									<div class="product-detail-delivery-container">
										<p class="delivery-headline">
											{{ "kerkow.deliveryHeadline"|trans|raw }}
										</p>
										<span class="product-detail-deliver-date">
											{{ "kerkow.actualDeliverTime"|trans({'%day%': day, '%date%': date|date("d"), '%month%': month}) }}
											{{ slotString|trans|raw }}
										</span>

									</div>
								{% endif %}
							{% endblock %}
						{% endblock %}
					</div>
				</div>
				{% block page_checkout_confirm_shipping_date_modal_toggle %}
					<div class="change-delivery-date-container">
						<button type="button" class="btn" data-toggle="modal" data-backdrop="static" data-target="#confirmShippingDateModal">
							{{ "kerkow.selectDeliveryDate"|trans|sw_sanitize }}
						</button>
					</div>
				{% endblock %}
				{% block page_checkout_confirm_shipping_date %}
					{% sw_include '@kerkow/storefront/page/checkout/confirm/select-shipping-details.html.twig' %}
				{% endblock %}


				{# @deprecated tag:v6.4.0 will be removed in version 6.4.0 #}
				{% block page_checkout_confirm_shipping_invalid_tooltip %}
				{% endblock %}
			{% endblock %}

			{% block page_checkout_confirm_shipping_modal_toggle %}
			{% endblock %}

			{% block page_checkout_confirm_shipping_modal %}
				<div class="modal fade confirm-shipping-modal" id="confirmShippingModal" tabindex="-1" role="dialog">
					<div class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<div class="modal-title h5">
									{{ "checkout.confirmChangeShipping"|trans|sw_sanitize }}
								</div>
								<button type="button" class="modal-close close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">
										{% sw_icon 'x' style { 'size': 'sm' } %}
									</span>
								</button>
							</div>
							<div class="modal-body">
								{% block page_checkout_confirm_shipping_form %}
									<form id="changeDeliveryDate" name="changeDeliveryDate" action="{{ path('frontend.custom.changeDeliveryDate') }}" data-form-csrf-handler="true" method="post">

										{% block page_checkout_confirm_shipping_form_csrf %}
											{{ sw_csrf('frontend.custom.changeDeliveryDate') }}
										{% endblock %}

										{% block page_checkout_confirm_shipping_form_redirect %}
											<input type="hidden" name="redirectTo" value="frontend.checkout.confirm.page">
										{% endblock %}

										{% block page_checkout_confirm_shipping_data %}
											<input type="hidden" name="deliveryDate" id="js_delivery_date_input">
											{% if context.shippingMethod.name == "Angel" %}
												<input type="hidden" name="deliverySlot" id="js_delivery_slot_input">
											{% endif %}
										{% endblock %}

										{% block page_checkout_confirm_shipping_form_fields %}
										{% endblock %}

										{% block page_checkout_confirm_shipping_form_submit %}
											<button class="btn btn-primary" type="submit">
												{{ "checkout.confirmChangePaymentShippingSave"|trans|sw_sanitize }}
											</button>
										{% endblock %}

										{% block page_checkout_confirm_shipping_cancel %}
											<button class="btn btn-light" type="button" data-dismiss="modal" aria-label="Close">
												{{ "checkout.confirmChangePaymentShippingCancel"|trans|sw_sanitize }}
											</button>
										{% endblock %}
									</form>
								{% endblock %}
							</div>
						</div>
					</div>
				</div>
			{% endblock %}
		</div>
	</div>
{% endblock %}
