{% block page_checkout_status_bar_inner %}
	<div class="status-bar-container">
		<div class="status-position">
			<div class="status-bar d-flex justify-content-between">
				<div class="status">
					<div class="pill-container">
						<div class="pill{% if isRegister %} active{% endif %}{% if isConfirm or isDone %} done{% endif %}">
							{% if isConfirm or isDone %}
								{% sw_icon "checkmark" %}
							{% else %}
								{{ "1" }}
							{% endif %}
						</div>
						<div class="status-label">
							Anmelden
						</div>
					</div>
				</div>
				<div class="status">
					<div class="pill-container">
						<div class="pill{% if isConfirm %} active{% endif %}{% if isDone %} done{% endif %}">
							{% if isDone %}
								{% sw_icon "checkmark" %}
							{% else %}
								{{ "2" }}
							{% endif %}
						</div>
						<div class="status-label second">
							{{ "Abschließen" }}
						</div>
					</div>
				</div>
				<div class="status">
					<div class="pill-container">
						<div class="pill{% if isDone %} active{% endif %}">
							{{ "3" }}
						</div>
						<div class="status-label third">
							{{ "Fertig" }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
