{% sw_extends '@Storefront/storefront/component/product/card/price-unit.html.twig' %}

{% block component_product_box_price_info %}
	{% set purchaseUnit = product.purchaseUnit %}
	{% set listingPrice = product.calculatedListingPrice %}
	{% set fromPrice = listingPrice.from %}
	{% set referncePrice = product.calculatedPrice.referencePrice %}

	<div class="product-price-info">
		{% if product.customFields["custom_cradleware_active"] %}
			{% block component_product_cradleware_box_price %}
				{% set listPrice = product.priceRange or product.calculatedPrices.count > 0 ? null : product.calculatedPrice.listPrice %}
				<p class="product-price{% if referncePrice.price.percentage > 0 %} with-list-price{% endif %}">
					{% if product.priceRange %}
						{% if referncePrice.unitName == "g" %}
							{{ "#{referncePrice.price|format_currency('EUR')}/#{referncePrice.referenceUnit}#{referncePrice.unitName}" }}
						{% else %}
							{{ "#{referncePrice.price|format_currency('EUR')}/#{referncePrice.unitName}" }}
						{% endif %}
					{% elseif product.calculatedPrices|length == 1 %}
						{{ product.calculatedPrices.first.unitPrice|format_currency('EUR') }}
					{% else %}
						{% if referncePrice %}

							{% if referncePrice.unitName == "g" %}
								{{ "#{referncePrice.price|format_currency('EUR')}/#{referncePrice.referenceUnit}#{referncePrice.unitName}" }}
							{% else %}
								{{ "#{referncePrice.price|format_currency('EUR')}/#{referncePrice.unitName}" }}
							{% endif %}
							{% if listPrice.percentage > 0 %}
								{% set calculatedListPrice = listPrice.price / referncePrice.purchaseUnit * referncePrice.referenceUnit %}
								<span class="list-price">
									{{ "(#{calculatedListPrice|format_currency('EUR')}/#{referncePrice.referenceUnit}#{referncePrice.unitName})" }}
								</span>

							{% endif %}
						{% else %}
							{% if product.unit.shortCode == "g" %}
								{{ "#{product.calculatedPrice.unitPrice|format_currency('EUR')}/#{product.purchaseUnit}#{product.unit.shortCode}" }}
							{% else %}
								{{ "#{product.calculatedPrice.unitPrice|format_currency('EUR')}/#{product.unit.shortCode}" }}
							{% endif %}
							{% if listPrice.percentage > 0 %}
								{% set calculatedListPrice = listPrice.price / product.purchaseUnit * product.referenceUnit %}
								<span class="list-price">
									{{ "(#{product.calculatedPrice.listPrice.price|format_currency('EUR')}/#{product.referenceUnit}#{product.unit.shortCode})" }}
								</span>

							{% endif %}
						{% endif %}
					{% endif %}
				</p>
			{% endblock %}

		{% else %}

			{% block component_product_box_price %}
				{% set listPrice = product.priceRange or product.calculatedPrices.count > 0 ? null : product.calculatedPrice.listPrice %}

				<p class="product-price{% if listPrice.percentage > 0 %} with-list-price{% endif %}">
					{% if product.priceRange %}
						{{ fromPrice.unitPrice|format_currency('EUR') }}
						-
						{{ listingPrice.to.unitPrice|format_currency('EUR') }}
					{% elseif product.calculatedPrices|length == 1 %}
						{{ product.calculatedPrices.first.unitPrice|format_currency('EUR') }}
					{% else %}
						{{ product.calculatedPrice.unitPrice|format_currency('EUR') }}


						{% if listPrice.percentage > 0 %}
							<span class="list-price">
								{{ listPrice.price|format_currency('EUR') }}
							</span>

						{% endif %}
					{% endif %}
				</p>
			{% endblock %}

			{% block component_product_box_price_unit %}
				<p
					class="product-price-unit">
					{# Price is based on the purchase unit #}
					{% block component_product_box_price_purchase_unit %}
						{% if purchaseUnit and purchaseUnit != 0 %}
							<span class="price-unit-content">
								{{ purchaseUnit }}
								{{ product.unit.translation('name') }}
							</span>
						{% endif %}
					{% endblock %}


					{# Unit price is based on a reference unit #}
					{% block component_product_box_price_reference_unit %}
						{% if referncePrice is not null %}
							<span class="price-unit-reference">

								{% if product.priceRange %}

									{{ "listing.listingTextFrom"|trans|sw_sanitize }}
									{{ fromPrice.referencePrice.price|format_currency('EUR') }}
									/
									{{ fromPrice.referencePrice.referenceUnit }}
									&nbsp;
									{{ fromPrice.referencePrice.unitName }}

								{% else %}

									{{ "(#{referncePrice.price|format_currency('EUR')}" }}
									/
									{{ referncePrice.referenceUnit }}
									{{ "#{referncePrice.unitName})" }}
								{% endif %}

							</span>
						{% endif %}
					{% endblock %}
				</p>
			{% endblock %}
		{% endif %}
	</div>
{% endblock %}
