{% sw_extends '@Storefront/storefront/page/product-detail/buy-widget-price.html.twig' %}
{% block page_product_detail_price_inner %}
	{% if page.product.calculatedPrices|length > 1 %}
		{% block page_product_detail_price_block %}
			<div class="product-block-prices">
				{% block page_product_detail_price_block_table %}
					<table class="table table-sm table-bordered product-block-prices-table">
						{% block page_product_detail_price_block_table_head %}
							<thead class="product-block-prices-head">
								{% block page_product_detail_price_block_table_head_inner %}
									<tr class="product-block-prices-row">
										<th scope="col" class="product-block-prices-cell">
											{{ "detail.dataColumnQuantity"|trans|sw_sanitize }}
										</th>
										<th scope="col" class="product-block-prices-cell">
											{{ "detail.dataColumnPrice"|trans|sw_sanitize }}
										</th>
										{% if page.product.calculatedPrice.referencePrice %}
											<th scope="col" class="product-block-prices-cell">
												{{ "detail.dataColumnReferencePrice"|trans|sw_sanitize }}
											</th>
										{% endif %}
									</tr>
								{% endblock %}
							</thead>
						{% endblock %}

						{% block page_product_detail_price_block_table_body %}
							<tbody class="product-block-prices-body">
								{% block page_product_detail_price_block_table_body_inner %}
									{% for price in page.product.calculatedPrices %}
										{% block page_product_detail_price_block_table_body_row %}
											<tr class="product-block-prices-row" itemprop="offers" itemscope itemtype="https://schema.org/Offer">

												{% block page_product_detail_price_block_table_body_cell_quantity %}
													<th scope="row" class="product-block-prices-cell">
														<meta itemprop="priceCurrency" content="{{ page.header.activeCurrency.id }}"/>
														<meta itemprop="price" content="{{ price.unitPrice }}"/>
														<link itemprop="availability" href="https://schema.org/InStock"/>

														{% if loop.last %}
															{{ "detail.priceDataInfoFrom"|trans|sw_sanitize }}
															<span class="product-block-prices-quantity">
																{{ price.quantity }}
															</span>

														{% else %}
															{{ "detail.priceDataInfoUntil"|trans|sw_sanitize }}
															<span class="product-block-prices-quantity">
																{{ price.quantity }}
															</span>
														{% endif %}
													</th>
												{% endblock %}

												{% block page_product_detail_price_block_table_body_cell_price %}
													<td class="product-block-prices-cell">
														{{ price.unitPrice|format_currency('EUR') }}
														{{ "general.star"|trans|sw_sanitize }}
													</td>
												{% endblock %}

												{% block page_product_detail_price_block_table_body_cell_reference_price %}
													{% if price.referencePrice is not null %}
														<td class="product-block-prices-cell">
															{{ price.referencePrice.price|format_currency('EUR') }}
															{{ "general.star"|trans|sw_sanitize }}
															/
															{{ price.referencePrice.referenceUnit }}
															{{ price.referencePrice.unitName }}
														</td>
													{% endif %}
												{% endblock %}
											</tr>
										{% endblock %}
									{% endfor %}
								{% endblock %}
							</tbody>
						{% endblock %}
					</table>
				{% endblock %}
			</div>
		{% endblock %}
	{% else %}
		{% set price = page.product.calculatedPrice %}

		{% if page.product.calculatedPrices|length == 1 %}
			{% set price = page.product.calculatedPrices.first %}
		{% endif %}

		<meta itemprop="price" content="{{ price.unitPrice }}">

		{% block page_product_detail_price_content %}
			{% set listPrice = page.product.priceRange ? null : price.listPrice %}

			{% if listPrice.percentage > 0 %}
				{% block page_product_detail_was_price_badge %}
					<span class="list-price-badge">
						&#37;
					</span>
				{% endblock %}
			{% endif %}

			<p class="product-detail-price{% if listPrice.percentage > 0 %} with-list-price{% endif %}">
				{{ price.unitPrice|format_currency('EUR') }}
			</p>

			{% if listPrice.percentage > 0 %}
				{% block page_product_detail_was_price %}

					{% block page_product_detail_was_price_wrapper %}
						<span class="product-detail-list-price-wrapper">
							<span class="list-price-price">
								{{ listPrice.price|format_currency('EUR') }}
							</span>

							<span class="list-price-percentage">
								{{ "detail.listPricePercentage"|trans({'%price%': listPrice.percentage })|sw_sanitize }}
							</span>
						</span>
					{% endblock %}
				{% endblock %}
			{% endif %}
		{% endblock %}

		{% block page_product_detail_data_rich_snippet_price_specification %}
			<span itemprop="priceSpecification" itemscope="" itemtype="https://schema.org/UnitPriceSpecification">
				<meta itemprop="priceCurrency" content="{{ context.currency.translated.shortName }}"/>
				<meta itemprop="price" {% if price.referencePrice is not null %} content="{{ price.referencePrice.price }}" {% else %} content="{{ price.unitPrice }}" {% endif %}>
				<span itemprop="referenceQuantity" itemscope itemtype="https://schema.org/QuantitativeValue">
					<meta itemprop="value" {% if price.referencePrice is not null %} content="{{ price.referencePrice.referenceUnit }}" {% else %} content="{{ page.product.purchaseUnit }}" {% endif %}>
					<meta itemprop="unitCode" {% if price.referencePrice is not null %} content="{{ price.referencePrice.unitName }}" {% else %} content="{{ page.product.unit.name }}" {% endif %}>
				</span>
			</span>
		{% endblock %}

		{% block page_product_surcharge %}
			{% if page.dvsnProductOptions is defined and page.dvsnProductOptions is iterable and page.dvsnProductOptions|length > 0 %}
				{% set priceSurcharge = 0 %}
				{% set priceSurchargePercentage = 0 %}
				{% for option in page.dvsnProductOptions %}

					{% set priceSurcharge = priceSurcharge + option.price %}
					{% set priceSurchargePercentage = priceSurchargePercentage + option.surcharge %}
				{% endfor %}
				{% set priceSurcharge = priceSurcharge|format_currency('EUR') %}
				{% set priceSurchargePercentage = priceSurchargePercentage|format_number({fraction_digit: 0}) %}

				<div class="product-detail-price-surcharge" data-surcharge-info="true">
					{{ "footer.productDetailSurcharge"|trans({
                                '%url%':'#', '%price%': priceSurcharge, '%percentage%': priceSurchargePercentage
                            })|raw }}
				</div>
			{% endif %}
		{% endblock %}

		{% if page.product.purchaseUnit %}
			{% block page_product_detail_price_unit %}
				<div class="product-detail-price-unit">
					<div class="product-detail-content">
						{% block page_product_detail_price_unit_label %}
							<span class="price-unit-label">
								{{ "detail.priceUnitName"|trans|sw_sanitize }}
							</span>
						{% endblock %}

						{% block page_product_detail_price_unit_content %}
							<span class="price-unit-content">
								{{ page.product.purchaseUnit }}
								{{ page.product.unit.name }}
							</span>
						{% endblock %}
					</div>
					{% block page_product_detail_packing_unit %}
						{% if page.product.customFields["custom_product_data_unit"] %}
							<div class="product-detail-packing-unit">
								{% block page_product_detail_packing_unit_label %}
									<span class="packing-unit-label">
										{{ "kerkow.packingUnitLabel"|trans|sw_sanitize }}
									</span>
								{% endblock %}
								{% block page_product_detail_packing_unit_content %}
									<span class="packing-unit-content">
										{{ page.product.customFields["custom_product_data_unit"] }}
									</span>
								{% endblock %}
							</div>
						{% endif %}
					{% endblock %}
					<div class="product-detail-reference-content">

						{% if price.referencePrice is not null %}
							{% block page_product_detail_price_unit_reference_content %}

								{# @deprecated tag:v6.4.0 #}
								{% block page_product_detail_price_unit_refrence_content %}
									<span class="price-base-price-label">
										{{ "detail.basePriceName"|trans|sw_sanitize }}
									</span>
									<span class="price-unit-reference-content">

										{{ price.referencePrice.price|format_currency('EUR') }}
										/
										{{ price.referencePrice.referenceUnit }}
										{{ price.referencePrice.unitName }}
									</span>
								{% endblock %}

							{% endblock %}
						{% endif %}
					</div>
				</div>
			{% endblock %}
		{% endif %}
	{% endif %}

{% endblock %}
