{% sw_extends '@Storefront/storefront/page/product-detail/headline.html.twig' %}
{% set organic = page.product.customFields["custom_label_organic"] %}

{% block page_product_detail_headline_inner %}
	<div class="d-flex">
		{% block page_product_detail_name_container %}
			<div class="product-detail-name-container flex-grow-1 align-self-center align-self-sm-start">
				{% block page_product_detail_name %}
					<div>
						<h1 class="product-detail-name" itemprop="name">
							{{ page.product.translated.name }}
						</h1>
					</div>
				{% endblock %}
				{% block page_product_detail_manufacturer %}
					{% if page.product.manufacturer %}
						<div class="product-detail-manufacturer">
							{% block page_product_detail_manufacturer_inner %}
								{% block page_product_detail_manufacturer_link %}
									<a href="{{ page.product.manufacturer.link }}" class="product-detail-manufacturer-link" title="{{ page.product.manufacturer.translated.name }}">
										{% if page.product.manufacturer.media %}
											{% block page_product_detail_manufacturer_logo %}
												<img src="{{ page.product.manufacturer.media|sw_encode_media_url }}" class="product-detail-manufacturer-logo" alt="{{ page.product.manufacturer.translated.name }}"/>
											{% endblock %}
										{% else %}
											{% block page_product_detail_manufacturer_text %}
												{{ page.product.manufacturer.translated.name }}
											{% endblock %}
										{% endif %}
									</a>
								{% endblock %}
							{% endblock %}
						</div>
					{% endif %}
				{% endblock %}
			</div>
		{% endblock %}
		{% if organic %}
			{% block page_product_detail_label_container %}
				<div class="product-detail-label-container">
					<span class="product-organic-icon">
						{% sw_include '@kerkow/storefront/custom/icons/eu-bio.html.twig' %}
					</span>
					<span class="product-organic-subline">
						{{ "kerkow.euBio"|trans}}
					</span>
				</div>
			{% endblock %}
		{% endif %}
	</div>


{% endblock %}
