{% sw_extends '@Storefront/storefront/page/product-detail/index.html.twig' %}


{% block page_product_detail %}

	<div class="product-detail" itemscope itemtype="https://schema.org/Product">
		{% block page_product_detail_inner %}
			{% block page_product_detail_content %}
				<div class="product-detail-content">
					{% set mediaItems = page.product.media.media %}

					{% block page_product_detail_main %}
						<div class="row product-detail-main">
							{% block page_product_detail_media %}
								<div class="col-md-6 col-lg-6 product-detail-media">
									{% block component_product_box_badges %}
										{% sw_include '@Storefront/storefront/component/product/card/badges.html.twig' with {"product": page.product} %}
									{% endblock %}
									{% if page.product.media %}
										{% sw_include '@Storefront/storefront/element/cms-element-image-gallery.html.twig' with {
                                                'mediaItems': mediaItems,
                                                'zoom': true,
                                                'zoomModal': true,
                                                'displayMode': 'contain',
                                                'gutter': 5,
                                                'minHeight': '430px',
                                                'navigationArrows': 'inside',
                                                'navigationDots': 'inside',
                                                'galleryPosition': 'left',
                                                'isProduct': true,
                                                'fallbackImageTitle': page.product.translated.name,
                                                'startIndexThumbnails': page.product.cover.position + 1,
                                                'startIndexSlider': page.product.cover.position + 1
                                            } %}
									{% endif %}
								</div>
							{% endblock %}
							<div class="col-12 col-md-6 col-lg-6 product-buy-content-container js-magnifier-zoom-image-container">
								{% block page_product_detail_headline %}
									<div class="align-items-center product-detail-headline">
										{% sw_include '@Storefront/storefront/page/product-detail/headline.html.twig' %}
									</div>
								{% endblock %}
								{% if page.product.customFields["custom_product_description_short_text"] %}
									<div class="align-items-center product-detail-description-short">
										<div class="product-short-description-container">
											{{ page.product.customFields["custom_product_description_short_text"]|trans|raw }}
										</div>
									</div>
								{% endif %}
								{% block page_product_detail_buy %}
									<div class="product-detail-buy">
										{% sw_include '@Storefront/storefront/page/product-detail/buy-widget.html.twig' %}
									</div>
								{% endblock %}
							</div>
						</div>
					{% endblock %}

				</div>
			{% endblock %}

			{% block page_product_detail_description %}
				<div class="row">
					<div class="col-12 page-product-detail-content">
						<div class="row">

							{% if page.product.customFields["custom_pdp_additional_content_animalPart"] %}
								<div class="product-detail-animal col-lg-6">
									<span class="animal">
										{{ page.product.customFields["custom_pdp_additional_content_animalPart"]|raw }}
									</span>
								</div>
							{% endif %}
							<div class="{% if page.product.customFields["custom_pdp_additional_content_animalPart"] is empty %}offset-lg-6 {% endif %}col-lg-6 product-detail-accordion-container" data-pdp-tabs="true">
								{% if page.product.translated.description %}
									<div class="tab open_tab">
										<div class="tab-content">
											<div class="tab-toggle js_tab_toggle js_tab_open">
												{% sw_include '@Kerkow/storefront/page/product-detail/tab-button.html.twig' with {state: "open"} %}
												<h2>
													{{ "kerkow.headlineKnowledge"|trans }}
												</h2>
											</div>
											<div class="tab-content-text open">
												{{ page.product.translated.description|raw }}
											</div>
										</div>
									</div>
								{% endif %}
								{% if page.product.customFields["custom_pdp_additional_content_bestBefore"] %}
									<div class="tab">
										<div class="tab-content">
											<div class="tab-toggle js_tab_toggle js_tab_closed">
												{% sw_include '@Kerkow/storefront/page/product-detail/tab-button.html.twig' with {state: "closed"} %}
												<h2>
													{{ "kerkow.headlineBestBefore"|trans }}
												</h2>
											</div>
											<div class="tab-content-text d-none">
												{{ page.product.customFields["custom_pdp_additional_content_bestBefore"]|raw }}
											</div>
										</div>
									</div>
								{% endif %}
								{% if page.product.customFields["custom_pdp_additional_content_storageAdvice"] %}
									<div class="tab">
										<div class="tab-content">
											<div class="tab-toggle js_tab_toggle js_tab_closed">
												{% sw_include '@Kerkow/storefront/page/product-detail/tab-button.html.twig' with {state: "closed"} %}
												<h2>
													{{ "kerkow.headlineStorageAdvice"|trans }}
												</h2>
											</div>
											<div class="tab-content-text d-none">
												{{ page.product.customFields["custom_pdp_additional_content_storageAdvice"]|raw }}
											</div>
										</div>
									</div>
								{% endif %}
								{% if page.product.customFields["custom_product_data_show_contents"] %}
									<div class="tab">
										<div class="tab-content">
											<div class="tab-toggle js_tab_toggle js_tab_closed">
												{% sw_include '@Kerkow/storefront/page/product-detail/tab-button.html.twig' with {state: "closed"} %}
												<h2>
													{{ "kerkow.nutritionFacts"|trans }}
												</h2>
											</div>
											<div class="tab-content-text d-none">

												<dl class="row">
													{% if page.product.customFields["custom_product_data_calorific_value"] %}
														<dt class="col-6">
															{{ "kerkow.calorificValue"|trans }}
														</dt>
														<dd class="col-6">
															{{ page.product.customFields["custom_product_data_calorific_value"] }}
														</dd>
													{% endif %}
													{% if page.product.customFields["custom_product_data_fat"] %}
														<dt class="col-6">
															{{ "kerkow.fat"|trans }}
														</dt>
														<dd class="col-6">
															{{ page.product.customFields["custom_product_data_fat"] }}
														</dd>
													{% endif %}
													{% if page.product.customFields["custom_product_data_saturated_fat"] %}
														<dt class="col-6">
															{{ "kerkow.saturatedFat"|trans }}
														</dt>
														<dd class="col-6">
															{{ page.product.customFields["custom_product_data_saturated_fat"] }}
														</dd>
													{% endif %}
													{% if page.product.customFields["custom_product_data_carbs"] %}
														<dt class="col-6">
															{{ "kerkow.carbs"|trans }}
														</dt>
														<dd class="col-6">
															{{ page.product.customFields["custom_product_data_carbs"] }}
														</dd>
													{% endif %}
													{% if page.product.customFields["custom_product_data_sugar"] %}
														<dt class="col-6">
															{{ "kerkow.sugar"|trans }}
														</dt>
														<dd class="col-6">
															{{ page.product.customFields["custom_product_data_sugar"] }}
														</dd>
													{% endif %}
													{% if page.product.customFields["custom_product_data_protein"] %}
														<dt class="col-6">
															{{ "kerkow.protein"|trans }}
														</dt>
														<dd class="col-6">
															{{ page.product.customFields["custom_product_data_protein"] }}
														</dd>
													{% endif %}
													{% if page.product.customFields["custom_product_data_salt"] %}
														<dt class="col-6">
															{{ "kerkow.salt"|trans }}
														</dt>
														<dd class="col-6">
															{{ page.product.customFields["custom_product_data_salt"] }}
														</dd>
													{% endif %}
												</dl>
											</div>
										</div>
									</div>
								{% endif %}
								{% if page.product.customFields["custom_product_data_ingredients"] %}
									<div class="tab">
										<div class="tab-content">
											<div class="tab-toggle js_tab_toggle js_tab_closed">
												{% sw_include '@Kerkow/storefront/page/product-detail/tab-button.html.twig' with {state: "closed"} %}

												<h2>
													{{ "kerkow.ingredients"|trans }}
												</h2>
											</div>
											<div class="tab-content-text d-none">
												{{ page.product.customFields["custom_product_data_ingredients"]|sw_sanitize }}

											</div>
										</div>
									</div>
								{% endif %}
								{% if page.product.customFields["custom_product_data_show_allergens"] %}
									<div class="tab">
										<div class="tab-content">
											<div class="tab-toggle js_tab_toggle js_tab_closed">
												{% sw_include '@Kerkow/storefront/page/product-detail/tab-button.html.twig' with {state: "closed"} %}
												<h2>
													{{ "kerkow.allergens"|trans }}
												</h2>
											</div>
											<div class="tab-content-text d-none">

												{{ page.product.customFields["custom_product_data_allergens"]|sw_sanitize }}
											</div>
										</div>
									</div>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			{% endblock %}

			{% block page_product_detail_data %}
			{% endblock %}

			{% block page_product_detail_tabs %}
			{% endblock %}

			{% block page_product_detail_cross_selling %}
				{% if page.crossSellings|length > 0 %}
					<div class="row product-detail-cross-selling">
						{% sw_include '@kerkow/storefront/page/product-detail/cross-selling/grid.html.twig' with {
                            crossSellings: page.crossSellings
                        } only %}
					</div>
				{% endif %}
			{% endblock %}
		{% endblock %}
		{% block page_product_detail_newsletter %}
			<div class="kerkow-newsletter-form">
				<div class="cms-block-container">
					<div class="cms-block-container-row row cms-row ">
						<div class="cms-block">
							{% sw_include '@KerkowCustomModules/storefront/block/cms-block-custom-form.html.twig' %}
						</div>
					</div>
				</div>
			</div>
		{% endblock %}
	</div>
	{% block page_product_surcharge_modal %}
		{% sw_include '@Storefront/storefront/custom/modals/surcharge-modal.html.twig' %}
	{% endblock %}
{% endblock %}
