{% sw_extends '@Storefront/storefront/page/account/register/index.html.twig' %}

{% block base_content %}
	{% block page_account_register %}
		<div class="account-register" data-toggle-login-register="true">
			{% block page_account_register_inner %}
				<div class="row">
					{% block page_account_register_login_container %}
						<div class="col-lg-6">
							<div class="register-login-collapse-toogle">
								<h2>
									Willkommen zurück
								</h2>
								<a href="#loginCollapse" class="login-collapse-toggle js-login-toggle" data-toggle="collapse" aria-expanded="false">
									<button class="btn btn-secondary btn-checkout">
										{{ "checkout.addressLoginToggle"|trans|sw_sanitize }}
									</button>
								</a>
							</div>
							<div class="collapse" id="loginCollapse">
								{% sw_include '@Storefront/storefront/component/account/login.html.twig'  %}
							</div>

							{% block page_account_register_advantages %}
								<div class="login-advantages">
									{% block page_account_register_advantages_title %}
										<div class="h5 login-advantages-header">
											{{ "account.registerAdvantagesHeader"|trans|sw_sanitize }}
										</div>
									{% endblock %}

									{% block page_account_register_advantages_list %}
										<ul>
											{% block page_account_register_advantages_entry1 %}
												<li>
													{{ "account.registerAdvantage1"|trans|sw_sanitize }}
												</li>
											{% endblock %}

											{% block page_account_register_advantages_entry2 %}
												<li>
													{{ "account.registerAdvantage2"|trans|sw_sanitize }}
												</li>
											{% endblock %}

											{% block page_account_register_advantages_entry3 %}
												<li>
													{{ "account.registerAdvantage3"|trans|sw_sanitize }}
												</li>
											{% endblock %}

											{% block page_account_register_advantages_entry4 %}
												<li>
													{{ "account.registerAdvantage4"|trans|sw_sanitize }}
												</li>
											{% endblock %}
										</ul>
									{% endblock %}
								</div>
							{% endblock %}
						</div>
					{% endblock %}

					{% block page_account_register_container %}
						<div class="col-lg-6">
							{% sw_include '@Storefront/storefront/component/account/register.html.twig' with {
                                'cardTitle': "account.registerPersonalHeader"|trans|sw_sanitize
                            } %}
						</div>
					{% endblock %}
				</div>
			{% endblock %}
		</div>
	{% endblock %}
{% endblock %}
